#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.app-container {
    width: 800px;
    margin: 0 auto;
}
.shuffle-div {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.shuffle-div p {
    width: 90%;
    background-color: rgb(116, 75, 1);
    padding: 0.3rem;
    font-size: 1.5rem;
    border-radius: 0.4rem;
}

.shuffle-div button {
    /* height: 50px; */
    padding: 0.7rem;
    font-size: 1.2rem;
    cursor: pointer;
    background-color: rgb(151, 122, 68);
    border: none;
    border-radius: 0.4rem;
}

.card-container {
    display: flex;
    gap: 1.5rem;
    align-items: start;
    justify-content: center;
    width: 100%;
    margin-bottom: 1rem;
}
.card {
    border: 1px solid white;
    padding: 0.8rem;
    border-radius: 0.4rem;
}
.ingredient {
    background-color: orange;
    border-radius: 0.4rem;
    color: black;
    font-size: large;
}
.display-ingredient {
    background-color: rgb(116, 75, 1);
    font-size: 1.2rem;
    font-weight: 500;
    border-radius: 0.4rem;
    padding: 0.3rem;
}
#ingredient-input-box {
    padding: 0.3rem;
    font-size: 1rem;
}

.check-answer-btn {
    padding: 0.3rem;
    font-size: 1.2rem;
    border: none;
    border-radius: 0.4rem;
    background-color: rgb(151, 122, 68);
    cursor: pointer;
}
